@font-face {
  font-family: 'CtxMenuFont';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe 1');
}

.ctx-menu-wrapper {
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 4px 3px -2px rgba(0, 0,0 , .1);
  color: black;

  padding: 3px 0 3px 0;
  border: 1px solid #b1b1b1;
  border-radius: 1px;

  font-family: "CtxMenuFont";
  font-size: 12px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}